@font-face {
  font-family: 'Edo SZ';
  src: local('Edo SZ'), url('./fonts/edosz.ttf') format('ttf');
}

@font-face {
  font-family: 'Futura Book';
  src: local('Futura Book'), url('./fonts/futuraBook.ttf') format('ttf'),
    url('./fonts/futuraBook.woff') format('woff');
}

@font-face {
  font-family: 'Futura Light Bk';
  src: local('Futura Light Bk'), url('./fonts/futuraLight.ttf') format('ttf'),
    url('./fonts/futuraLight.woff') format('woff');
}

@font-face {
  font-family: 'Futura Medium Bk';
  src: local('Futura Medium Bk'), url('./fonts/futuraMedium.ttf') format('ttf'),
    url('./fonts/futuraMedium.woff') format('woff');
}
/* 
.app {
  display: flex;
  justify-content: center;
  align-items: center;
} */
